


@font-face {
    font-family: 'playfair_displaybold';
    src: url('../all-font/fonts/playfairdisplay-bold-webfont.eot');
    src: url('../all-font/fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../all-font/fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
        url('../all-font/fonts/playfairdisplay-bold-webfont.woff') format('woff'),
        url('../all-font/fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
        url('../all-font/fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../all-font/fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../all-font/fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../all-font/fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
        url('../all-font/fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
        url('../all-font/fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
        url('../all-font/fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../all-font/fonts/playfairdisplay-italic-webfont.eot');
    src: url('../all-font/fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../all-font/fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
        url('../all-font/fonts/playfairdisplay-italic-webfont.woff') format('woff'),
        url('../all-font/fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
        url('../all-font/fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayregular';
    src: url('../all-font/fonts/playfairdisplay-regular-webfont.eot');
    src: url('../all-font/fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../all-font/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
        url('../all-font/fonts/playfairdisplay-regular-webfont.woff') format('woff'),
        url('../all-font/fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
        url('../all-font/fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadPro';
    src: url('../all-font/myriad-font/MyriadPro-Regular.eot');
    src: url('../all-font/myriad-font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../all-font/myriad-font/MyriadPro-Regular.woff') format('woff'),
        url('../all-font/myriad-font/MyriadPro-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 6, 2015 */



@font-face {
    font-family: 'open_sansbold';
    src: url('../all-font/open-sans/opensans-bold-webfont.eot');
    src: url('../all-font/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../all-font/open-sans/opensans-bold-webfont.woff2') format('woff2'),
        url('../all-font/open-sans/opensans-bold-webfont.woff') format('woff'),
        url('../all-font/open-sans/opensans-bold-webfont.ttf') format('truetype'),
        url('../all-font/open-sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../all-font/open-sans/opensans-regular-webfont.eot');
    src: url('../all-font/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../all-font/open-sans/opensans-regular-webfont.woff2') format('woff2'),
        url('../all-font/open-sans/opensans-regular-webfont.woff') format('woff'),
        url('../all-font/open-sans/opensans-regular-webfont.ttf') format('truetype'),
        url('../all-font/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../all-font/open-sans/opensans-italic-webfont.eot');
    src: url('../all-font/open-sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../all-font/open-sans/opensans-italic-webfont.woff2') format('woff2'),
        url('../all-font/open-sans/opensans-italic-webfont.woff') format('woff'),
        url('../all-font/open-sans/opensans-italic-webfont.ttf') format('truetype'),
        url('../all-font/open-sans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
.noImage {background: url(../images/noimage.png) no-repeat scroll center center #fff !important;color: #535353;font-weight: bold;	line-height: normal;	text-align: center;	text-transform: uppercase;}
body{ background:#f8f8f8; float:left;font-family: 'playfair_displayregular';  width:100%; }

#logo{float: left; margin-top: -16px;}

/******************************header css start***********************************/
.header{ background:#FFF;padding-top:30px; float:left; width:100%;}

ul.mainNavigation{ margin:0; padding:0; float:right;}
ul.mainNavigation li a{    font-family: 'playfair_displayregular'; font-size:17px; color:#515355; margin:0;
                           padding:0 0 28px 0; border-bottom:3px solid transparent;}
ul.mainNavigation li{ margin:0 0 0 38px;}
ul.mainNavigation li a:hover{ border-bottom:3px solid #243960; background:#FFF; }
ul.mainNavigation li.active a{ border-bottom:3px solid #243960;}
.marginBottom{ margin-bottom:0 !important; }
.paddingTop{ padding-top:0 !important; }
.banner{ width:100%; float:left; position:relative;}
.banner img{ width:100%;}
.bannerText{ position:absolute; bottom:48px;}
.bannerText h2{ background:url(../images/transparent-black-bg.png) repeat; font-size:60px;font-family: 'playfair_displayitalic'; color:#FFF;padding: 18px 38px 25px;display:inline-block; margin:0;}
.bannerText p{ font-size:26px;font-family: 'playfair_displayregular'; color:#243960; display:inline-block; background:url(../images/transparent-white-bg.png) repeat;    padding: 25px 40px 20px;}
/******************************header css end***********************************/


/******************************content css start***********************************/

.content{ float: left;
          padding-top: 60px;
          width: 100%;}
.about p{  font-family: 'open_sansregular';font-size:15px; line-height:20px; color:#515355;  }
.about h2{ font-family: 'MyriadPro'; color:#515355;}
.about h3{ color:#243960; font-size:18px; padding-bottom:7px; margin:0;font-family: 'MyriadPro';}
ul.about{ padding:47px 0 0 0; margin:0;}
ul.about li{  font-family: 'open_sansregular'; font-size:15px; float:left; list-style:none; padding-bottom:26px;}
h1.heading{ background:url(../images/heading-bdr.png) repeat-x left top; display:inline-block;  padding: 28px 0 14px; font-size:44px; color:#515355; margin:0;}
h2.heading{ background:url(../images/heading-bdr.png) repeat-x left top; display:inline-block;  padding: 28px 0 14px; font-size:44px; color:#515355; margin:0;}
.content ul li span.roundedBdr{background:#FFF; border-radius:100%; height:50px; width:50px; border:3px solid #243960; line-height:40px; float:left; text-align:center; color:#243960; font-family: 'playfair_displayregular'; font-size:30px;}
a.readMore{ font-size:16px; font-family: 'playfair_displayregular'; color:#243960; border-top:1px solid #dfdfdf; padding-top:4px; margin-top:8px; display:inline-block;}
a.roundBtn{background:url(../images/arrow.png) no-repeat 92% 56% #243960;
           border: medium none;
           border-radius: 25px;
           color: #fff;
           margin-top: 5px;
           padding: 4px 20px 4px 14px;
           text-decoration: none; cursor:pointer;}

a.roundBtn:hover{ ackground:url(../images/arrow.png) no-repeat 92% 56% #243960}
.services {  margin-top: 9px;}
.services  p{ color:#515355; font-size:15px;font-family: 'open_sansregular'; line-height:20px; border-bottom:1px solid #e5e5e5; padding-bottom:14px; margin-bottom:15px;}
.services  h3{ font-size:18px;font-family: 'playfair_displayregular'; color:#243960; margin:0; padding-bottom:10px;}
.services h2.heading{ padding-bottom:24px !important; float:left; padding-top:22px;}
.borderThumb{ border:none; padding:0;box-shadow:1px 2px 6px #eaeaea;}
.testimonial{ background:#243960;    margin-top: 40px;
              padding: 60px 0 44px;}
.testimonial p{  font-family: 'open_sansregular'; color:#f8f8f8; font-size:14px; padding-left:60px;}
.testimonial h2{ color:#ffffff; font-size:44px; padding-bottom:25px; padding-top:23px;}
.testimonial p.colon{font-family: 'open_sansitalic'; background:url(../images/colon.png) no-repeat left top; font-size:18px; padding-top:20px;}
.partners { float:left; width:100%; margin-top:60px; padding-bottom:50px;}
.partners ul{ float:left; width:100%; margin-top:27px;padding:inherit;}
.partners ul li {float:left; list-style:none;text-align:center;margin-bottom:15px; }
.partners ul li a {display:inline-block;float:none;width:100%;max-width:180px;}
.partners ul li img {border:4px solid #eeeeee;width:100%;max-width:300px;}
.partners ul li.last{ margin-right:0;}
.thumbnail .caption h4{ color:#243960;}
.thumbnail .caption p{ border-bottom:1px solid #e5e5e5; padding-bottom:15px; font-family: 'open_sansregular'; font-size:15px; color:515355; }

/*===============standard content ====================*/
.standard-content{ float:left; width:100%;}
.innerpagecontainer {width:100%;float:left; margin-bottom:40px;}
.innerpagecontainer h1 { padding-bottom:10px; margin-bottom:0px;}
.innerpagecontainer h2 { color: #262626; font-size: 30px; font-weight:normal; margin:0px; padding:10px 0 6px; float:left; width:100%;}
.innerpagecontainer h4 { color: #262626; font-size: 22px; font-weight:normal; margin:0px; padding:0px 0px 6px 0px; float:left; width:100%; line-height:30px;}
.innerpagecontainer p{ color:#4c4c4c; font-size:15px; line-height:24px; margin:0 0 18px 0;  font-family: "open_sansregular";}
.innerpagecontainer p a{ text-decoration:none; color:#243960; font-size:15px; }
.innerpagecontainer p a:hover{ color:#3c3c3c; text-decoration:underline;}
.innerpagecontainer .media { float: left; margin:0px; font-family: "open_sansregular";}
.innerpagecontainer .media-left{ margin-right:15px; float:left;}
.innerpagecontainer .highlight{ color:#243960; font-style:italic; font-family: "open_sansregular";}
.innerpagecontainer .highlight span{ color:#000; font-style:normal; font-family: "open_sansregular";}
.innerpagecontainer .listing { float: left;	padding:0; margin:0;}
.innerpagecontainer .listing li:hover{ color:#243960;}
.innerpagecontainer .listing li {font-family: "open_sansregular"; background: url(../images/roundBult.png) no-repeat scroll left 8px; color: #4c4c4c; float: none; font-size: 14px; font-weight:600; line-height: 22px; list-style: outside none none; padding: 0 0 12px 16px;}
.innerpagecontainer .listing02 { float: left; padding:0; margin:0;}
.innerpagecontainer .listing02 li {font-family: "open_sansregular"; background: url(../images/arrowBult.png) no-repeat scroll left 8px; color: #4c4c4c; float: none; font-size: 14px; line-height: 22px; list-style: outside none none;  padding: 0 0 12px 16px;}
.innerpagecontainer .listing02 li:hover{ color:#243960;}
.innerpagecontainer .dummytextdiv { background:url(../images/mid-bdr.jpg) repeat-y 49.8% #243960; float: left; margin: 30px 0; width: 100%;	padding:2%; box-sizing:border-box;}
.innerpagecontainer .dummytextdiv h2{font-size: 28px; text-transform: uppercase; color: #f1f1f1; padding-bottom:15px;}
.innerpagecontainer .dummytextdiv p{ font-family: "open_sansregular";color: #a3a3a3;}

/*===============standard form ====================*/

.address { background: none repeat scroll 0 0 #243960; box-sizing: border-box; float: left; margin: 0 0 30px; padding: 2.5% 3%; width: 100%;}
.lftblock { float: left; margin-right: 6%; width: 65%;}
.lftblock h4 { color: #fff; font-size: 28px; text-transform: uppercase;}
.lftblock p { color: #fff; margin: 10px 0;}
.fullwidth { clear: left; width: 100%;}
.lftblock em { color: #ccc; float: left; font-size: 15px; line-height: 24px; margin: 0; width: 49%; font-family: 'open_sansregular';}
.lftblock ul {width:100%;float:left;display:table;padding:0;}
.lftblock ul li {display:table-cell;float:none;vertical-align:top;word-wrap: break-word;word-break:break-all}
.lftblock ul li.first {width:30px;}


.lftblock em a{ color:#155bdb;word-break:break-all;word-wrap:break-word;}
.lftblock em a:hover{ color:#fff;}
.rightblock { float: left; margin: 0; width: 29%;}
.message-bar { background: none repeat scroll 0 0 #727072; color: #ffffff; float: left; font-size: 14px; margin: 0 0 20px;   padding: 0; width: 100%;}
.message-bar span.pos { background: url("../images/click.png") no-repeat scroll 11px 10px rgba(0, 0, 0, 0); font-family: 'open_sansregular'; display: block;   float: left; font-size: 14px; padding: 10px 40px; width: auto;}
.inputform { float: left; margin-bottom: 20px; margin-right: 6%; width: 47%;}
.inputform label { color: #5f5f5f; float: left; font-size: 15px; font-weight: normal; margin: 8px 0 0; width: 24%;  font-family: 'open_sansregular';}
.inputform .input { border: 2px solid #cfcfcf; color: #5f5f5f; float: left; font-size: 14px; font-weight: 300; padding: 8px 10px; width: 75%;}
.inputform select { border: 2px solid #cfcfcf; color: #5f5f5f; font-family: 'open_sansregular'; font-size: 14px;font-weight: 300; padding: 9px 10px; width: 75%;}
.radiobtn { float: left; line-height: 20px; margin: 11px 0 0;}
.radiobtn input { margin-right: 3px !important;}
.radiobtn span { color: #5f5f5f; font-size: 15px; margin: 0 18px 0 0; font-family: 'open_sansregular';}
.mRr { margin-right: 0;}
.textareaB { width: 100%;}
.textareaB label {font-family: 'open_sansregular'; color: #5f5f5f; float: left; font-size: 15px; font-weight: normal; margin: 8px 0 0; width: 11%;}
.textareaB textarea { border: 2px solid #cfcfcf; color: #5f5f5f; font-size: 14px; font-weight: 300; height: 118px; padding: 8px 10px; resize: none; width: 88.5%;}
.textareaB .submit { margin: 20px 0 0 11%;background:url(../images/arrow.png) no-repeat 92% 53% #243960;    
                     display: inline-block;font-family: "playfair_displayregular";font-size: 16px; color: #262626; color: #ffffff;
                     font-size: 17px; padding:4px 20px 4px 14px; border-radius:25px;}
.textareaB .submit:hover{  background:url(../images/arrow.png) no-repeat 92% 53% #204d74; color: #ffffff;}

/*input{text-transform: uppercase;}*/

.innerBanner {
    background:url(../images/inner_banner.jpg) no-repeat top center;
    background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    float: left;
    width: 100%;
    height:100px;
    margin-bottom:20px;
}

/******************************content css ends***********************************/

/******************************footer css ends***********************************/
.footer{ width:100%; float:left; background:#393939; padding:56px 0;}
.footer h3{ color:#FFF; font-size:30px;font-family: 'MyriadPro'; margin:0; padding-bottom:17px;}
.footer p{ color:#FFF; font-size:15px;font-family: 'open_sansregular'; line-height:20px;}
.footerLogo {max-width:300px;margin-bottom:15px;}
p.copyRight{ font-size:12px; color:#9a9a9a; margin-top:18px;}
p.copyRight a{ text-decoration:none; color:#ffffff; font-size:12px;}
p.copyRight a:hover{ color:#9a9a9a; text-decoration:underline; }
.footer ul{ margin:0; padding:0;}
.footer ul li { background:url(../images/list-icon.png) no-repeat left 6px; list-style:none; padding-left:16px; padding-bottom:8px;}
.footer ul li a{ font-size:15px; color:#f8f8f8;  font-family: 'open_sansregular';}
.footer ul li.active a {text-decoration:underline; font-family: 'open_sansbold';}
.location p{ background:url(../images/location.png) no-repeat left 3px; padding-left:27px; }
.topPhone p{padding-left:30px; font-size:15px; color:#f8f8f8;  font-family: 'open_sansregular'; color:#515355; }
.phone p{ background:url(../images/phone.png) no-repeat left top; padding-left:30px; }
.fax p{ background:url(../images/fax.png) no-repeat left top; padding-left:30px;}
.footer h4{ color:#989898; font-size:18px;font-family: 'playfair_displayregular';  margin: 0;
            padding-bottom: 22px;}




/******************************footer css ends***********************************/
/* Estilos para el encabezado del formulario */
.insertadatos_form h2 {
    display: inline;
    margin:0;
}
.required_notification {
    color:#DC143C;
    display:inline;
    float:right;
    margin:1px 1px 1px 1px;
}
/* Aplicacando validación con estilos aprovechando las características del HTML5 */
.insertadatos_form input:required, .insertadatos_form textarea:required {
    background: #fff url(../images/red_asterisk.png) no-repeat 98% center;
}
.insertadatos_form input:required:valid, .insertadatos_form textarea:required:valid {
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.insertadatos_form input:focus:invalid, .insertadatos_form textarea:focus:invalid {
    background: #fff url(../images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
/* Estilos para mostrar sugerencias mientras se llena el campo de formulario */
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    /* Mantiene las sugerencias siempre en primer plano */
    z-index: 999;
    /* Permite que la sugerencias mantengan formato aún cuando sean de más líneas */
    position: absolute;
    display: none;
}
.form_hint::before {
    content: "\25C0";
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}
.insertadatos_form input:focus + .form_hint {
    display: inline;
}
.insertadatos_form input:required:valid + .form_hint {
    background: #28921f;
}
.insertadatos_form input:required:valid + .form_hint::before {color:#28921f;}
/* Estilos para el botón de envío */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f),
        to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    cursor: pointer;
    opacity:.85;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}
.form_hint, .required_notification {
    font-size: 11px;
}
/* Estilo para las listas */
.insertadatos_form ul {
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
    width:750px;
}
.insertadatos_form li{
    border-bottom:1px solid #eee;
    padding:12px;
    position:relative;
}
.insertadatos_form li:first-child,
.insertadatos_form li:last-child {
    border-bottom:1px solid #777;
}