/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-04-2021, 05:35:32 PM
    Author     : BLADIMIR
*/
/*<style type="text/css">*/
body {
    background: #424242;
}

h2 {
    color: #FFFFFF;
}

h1 {
    color: #007EE3;
}

* {
    margin: 0px;
    padding: auto;
}

#header {
    margin: auto;
    width: 600px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}
/*</style>*/

